@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: rgb(33, 45, 58);
  font-family: "Roboto", sans-serif;
  color: white;
}

header {
    height: 80px;
    background-color: rgb(48, 58, 69);
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 100%;
}

.selector {
    width: 200px;
    font-size: 1.1rem;
    height: 100%;
    margin: 0 5px;
}

.container {
    width: 75%;
    margin: 0 auto;
    padding: 100px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.text-center {
    text-align: center;
}

.card{
    width: calc(100% / 5 - 20px);
    min-width: 150px;
    background-color: rgb(48, 58, 69);
    padding: 10px;
    text-align: center;
}
   .card img{
      width: 100%;
    }

    .card h2{
      color: white;
      text-transform: uppercase;
      font-size: 1.1rem;
      margin-top: 20px;
    }

    .card h3, .card h4{
      opacity: 0.7;
      font-weight: normal;
    }

    .card h3{
      font-size: 0.9rem;
      margin-top: 20px;
    }

    .card h4{
      font-size: 0.8rem;
    }
